<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-hny-ext-extended-article" >
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.subtitle" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.string1" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.string2" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.string3" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.string4" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.text1" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.text2" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.text3" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.date_time1" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.date_time2" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.date_time3" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.date_time4" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.image" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.file" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>