<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for ExtendedArticle</h1>

<f:flashMessages />

<table  class="tx_hnyextextendedarticle" >
	<tr>
		<th><f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.subtitle" /></th>
		<th><f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.string1" /></th>
		<th><f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.string2" /></th>
		<th><f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.string3" /></th>
		<th><f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.string4" /></th>
		<th><f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.text1" /></th>
		<th><f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.text2" /></th>
		<th><f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.text3" /></th>
		<th><f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.date_time1" /></th>
		<th><f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.date_time2" /></th>
		<th><f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.date_time3" /></th>
		<th><f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.date_time4" /></th>
		<th><f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.image" /></th>
		<th><f:translate key="tx_hnyextextendedarticle_domain_model_extendedarticle.file" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{extendedArticles}" as="extendedArticle">
		<tr>
			<td><f:link.action action="show" arguments="{extendedArticle : extendedArticle}"> {extendedArticle.subtitle}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extendedArticle : extendedArticle}"> {extendedArticle.string1}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extendedArticle : extendedArticle}"> {extendedArticle.string2}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extendedArticle : extendedArticle}"> {extendedArticle.string3}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extendedArticle : extendedArticle}"> {extendedArticle.string4}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extendedArticle : extendedArticle}"> {extendedArticle.text1}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extendedArticle : extendedArticle}"> {extendedArticle.text2}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extendedArticle : extendedArticle}"> {extendedArticle.text3}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extendedArticle : extendedArticle}"> {extendedArticle.dateTime1 -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extendedArticle : extendedArticle}"> {extendedArticle.dateTime2 -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extendedArticle : extendedArticle}"> {extendedArticle.dateTime3 -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extendedArticle : extendedArticle}"> {extendedArticle.dateTime4}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extendedArticle : extendedArticle}"> {extendedArticle.image}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extendedArticle : extendedArticle}"> {extendedArticle.file}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{extendedArticle : extendedArticle}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{extendedArticle : extendedArticle}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New ExtendedArticle</f:link.action>
</f:section>
</html>