<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-hny-ext-extended-article" >
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_article.subtitle" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_article.string1" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_article.string2" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_article.string3" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_article.string4" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_article.text1" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_article.text2" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_article.text3" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_article.date_time1" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_article.date_time2" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_article.date_time3" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_article.date_time4" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_article.image" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hnyextextendedarticle_domain_model_article.file" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>